<h1>PetLibs</h1>


<%= form_tag("/pets", method: "get") do %>
There once was a
  <select id="animal-size" name="animal-size">
    <option value="1">S</option>
    <option value="2">M</option>
    <option value="3">L</option>
    <option value="4">XL</option>
  </select>
  <select id="animal" name="animal">
    <option value="1">barnyard</option>
    <option value="2">bird</option>
    <option value="3">cat</option>
    <option value="4">dog</option>
    <option value="5">horse</option>
    <option value="6">reptile</option>
    <option value="7">smallfurry</option>
  </select> named
    <%= text_field_tag(:name, 'Name') %>.
    <%= text_field_tag(:name, 'Name') %>
  liked to go on many adventures. Their favorite adventure was
    <%= text_field_tag(:activity1, 'Activity Name') %> and
    <%= text_field_tag(:activity2, 'Activity Name') %>.
    <%= text_field_tag(:name, 'Name') %>
  is a very
    <%= text_field_tag(:adjective, 'Adjective') %>
  animal. In addition to adventures they really like food. Their favorite food is
    <%= text_field_tag(:food, 'Food') %> and it's a real treat when they get to eat
    <%= text_field_tag(:treat, 'Treat') %>. But
    <%= text_field_tag(:name, 'Name') %> 's very favorite thing is people.
  In fact they're looking for a new human to hang out with who is
    <%= text_field_tag(:adjective1, 'Adjective') %>. and loves
    <%= text_field_tag(:adjective2, 'Adjective') %>.
<%= submit_tag("Find a friend just like this") %>!
<% end %>
