<h1>PetLibs</h1>

<section class="home-form">
  <%= form_tag("/pets", method: "get") do %>
  There once was a
  <select id="animal-size" name="animal-size">
    <option value="S">small</option>
    <option value="M">medium</option>
    <option value="L">large</option>
    <option value="XL">super large</option>
  </select>
  <select id="animal" name="animal">
    <option value="barnyard">farm animal</option>
    <option value="bird">bird</option>
    <option value="cat">cat</option>
    <option value="dog">dog</option>
    <option value="horse">horse</option>
    <option value="reptile">reptile</option>
    <option value="smallfurry">small animal</option>
  </select> named
  <%= text_field_tag(:name, 'Name') %>.
  <%= text_field_tag(:name, 'Name') %>
  liked to go on many adventures. Their favorite adventure is
  <%= text_field_tag(:activity, 'Activity Name') %> and
  <%= text_field_tag(:name, 'Name') %>
  is a very
  <%= text_field_tag(:adjective, 'Adjective') %>
  animal. In addition to adventures they really like food. Their favorite food is
  <%= text_field_tag(:food, 'Food') %> and it's a real treat when they get to eat
  <%= text_field_tag(:treat, 'Treat') %>. But
  <%= text_field_tag(:name, 'Name') %> 's very favorite thing is people.
  In fact they're looking for a new human to hang out with who loves
  <%= text_field_tag(:adjective1, 'Adjective') %><br />
  <%= submit_tag("Find a friend just like this!") %>
  <% end %>
</section>
